In [1]:
import googlefinance
import unittest
import pandas as pd

class TestQuotes(unittest.TestCase):

    def test_one_symbol(self):
        appl = googlefinance.getQuotes('GOOG')[0]
        self.assertEqual(appl["Index"], "NASDAQ")
        self.assertEqual(appl["StockSymbol"], "GOOG")

    def test_symbols(self):
        quotes = googlefinance.getQuotes(['GOOG', 'VIE:BKS'])
        self.assertEqual(quotes[0]["Index"], "NASDAQ")
        self.assertEqual(quotes[0]["StockSymbol"], "GOOG")
        self.assertEqual(quotes[1]["Index"], "VIE")
        self.assertEqual(quotes[1]["StockSymbol"], "BKS")

# Yahoo finance seems to be a much simpler solution for pulling data. Google finance is giving me issues...

In [2]:
from googlefinance import getQuotes
import json
# print(json.dumps(getQuotes('AAPL'), indent=2))

In [3]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
# Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
tickers = ['AAPL', 'MSFT', '^GSPC']

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2010-01-01'
end_date = '2016-12-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
panel_data = data.DataReader(tickers, 'yahoo', start_date, end_date)
panel_data = pd.DataFrame(data=panel_data)
panel_data.head(9)

Attributes Adj Close                             Close             \
Symbols         AAPL       MSFT        ^GSPC      AAPL       MSFT
Date
2010-01-04  6.604801  24.168472  1132.989990  7.643214  30.950001
2010-01-05  6.616219  24.176279  1136.520020  7.656428  30.959999
2010-01-06  6.510980  24.027906  1137.140015  7.534643  30.770000
2010-01-07  6.498945  23.778025  1141.689941  7.520714  30.450001
2010-01-08  6.542150  23.942017  1144.979980  7.570714  30.660000
2010-01-11  6.484439  23.637472  1146.979980  7.503929  30.270000
2010-01-12  6.410679  23.481291  1136.219971  7.418571  30.070000
2010-01-13  6.501104  23.699940  1145.680054  7.523214  30.350000
2010-01-14  6.463451  24.176279  1148.459961  7.479643  30.959999

Attributes                   High                               Low  \
Symbols           ^GSPC      AAPL       MSFT        ^GSPC      AAPL
Date
2010-01-04  1132.989990  7.660714  31.100000  1133.869995  7.585000
2010-01-05  1136.520020  7.699643  31.100000  1136.630005  7.616071
2010-01-06  1137.140015  7.686786  31.080000  1139.189941  7.526786
2010-01-07  1141.689941  7.571429  30.700001  1142.459961  7.466072
2010-01-08  1144.979980  7.571429  30.879999  1145.390015  7.466429
2010-01-11  1146.979980  7.607143  30.760000  1149.739990  7.444643
2010-01-12  1136.219971  7.491786  30.400000  1143.810059  7.372143
2010-01-13  1145.680054  7.533214  30.520000  1148.400024  7.289286
2010-01-14  1148.459961  7.516428  31.100000  1150.410034  7.465000

Attributes                              Open                          \
Symbols          MSFT        ^GSPC      AAPL       MSFT        ^GSPC
Date
2010-01-04  30.590000  1116.560059  7.622500  30.620001  1116.560059
2010-01-05  30.639999  1129.660034  7.664286  30.850000  1132.660034
2010-01-06  30.520000  1133.949951  7.656428  30.879999  1135.709961
2010-01-07  30.190001  1131.319946  7.562500  30.629999  1136.270020
2010-01-08  30.240000  1136.219971  7.510714  30.280001  1140.520020
2010-01-11  30.120001  1142.020020  7.600000  30.709999  1145.959961
2010-01-12  29.910000  1131.770020  7.471071  30.150000  1143.810059
2010-01-13  30.010000  1133.180054  7.423929  30.260000  1137.310059
2010-01-14  30.260000  1143.800049  7.503929  30.309999  1145.680054

Attributes       Volume
Symbols            AAPL        MSFT         ^GSPC
Date
2010-01-04  493729600.0  38409100.0  3.991400e+09
2010-01-05  601904800.0  49749600.0  2.491020e+09
2010-01-06  552160000.0  58182400.0  4.972660e+09
2010-01-07  477131200.0  50559700.0  5.270680e+09
2010-01-08  447610800.0  51197400.0  4.389590e+09
2010-01-11  462229600.0  68754700.0  4.255780e+09
2010-01-12  594459600.0  65912100.0  4.716160e+09
2010-01-13  605892000.0  51863500.0  4.170360e+09
2010-01-14  432894000.0  63228100.0  3.915200e+09

In [10]:
panel_data.columns

MultiIndex([('Adj Close',  'AAPL'),
            ('Adj Close',  'MSFT'),
            ('Adj Close', '^GSPC'),
            (    'Close',  'AAPL'),
            (    'Close',  'MSFT'),
            (    'Close', '^GSPC'),
            (     'High',  'AAPL'),
            (     'High',  'MSFT'),
            (     'High', '^GSPC'),
            (      'Low',  'AAPL'),
            (      'Low',  'MSFT'),
            (      'Low', '^GSPC'),
            (     'Open',  'AAPL'),
            (     'Open',  'MSFT'),
            (     'Open', '^GSPC'),
            (   'Volume',  'AAPL'),
            (   'Volume',  'MSFT'),
            (   'Volume', '^GSPC')],
           names=['Attributes', 'Symbols'])

In [14]:
new_df= panel_data[[('Adj Close',  'AAPL'), ('Adj Close',  'MSFT'), ('Adj Close', '^GSPC')]]
new_df.head()

Attributes Adj Close
Symbols         AAPL       MSFT        ^GSPC
Date
2010-01-04  6.604801  24.168472  1132.989990
2010-01-05  6.616219  24.176279  1136.520020
2010-01-06  6.510980  24.027906  1137.140015
2010-01-07  6.498945  23.778025  1141.689941
2010-01-08  6.542150  23.942017  1144.979980

In [17]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1762 entries, 2010-01-04 to 2016-12-30
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, AAPL)   1762 non-null   float64
 1   (Adj Close, MSFT)   1762 non-null   float64
 2   (Adj Close, ^GSPC)  1762 non-null   float64
dtypes: float64(3)
memory usage: 55.1 KB